In [4]:
# Programación Funcional

def aplica(funcion, argumento):
    return funcion(argumento);

def cuadrado(n):
    return n*n

def cubo(n):
    return n**3


aplica (cuadrado,5)

25

In [5]:
aplica(cubo,5)

125

In [6]:
# Funciones anónimas(lambda)

area= lambda base, altura : base * altura
area(4,5)

20

In [8]:
# Aplicar una función a todos los elementos de una colección iterable(map)

def cuadrado(n):
    return n*n

list(map(cuadrado, [1,2,3]))

[1, 4, 9]

In [9]:
def rectangulo(a,b):
    return a * b

tuple(map(rectangulo,(1,2,3),(4,5,6)))

(4, 10, 18)

In [10]:
# Filtrar los elementos de una colección iterable(filter)

def par(n):
    return n %2 == 0

list(filter(par, range(10)))

[0, 2, 4, 6, 8]

In [11]:
# Combinar los elementos de varias colecciones iterables(zip)

asignaturas = ["Matemáticas","Física","Química","Economía"]
notas = [6.0,3.5,7.5,8.0]
list(zip(asignaturas, notas))

[('Matemáticas', 6.0), ('Física', 3.5), ('Química', 7.5), ('Economía', 8.0)]

In [12]:
# Operar todos los elementos de una colección iterable(reduce)

from functools import reduce
def producto(n,m):
    return n*m

reduce(producto, range(1, 5))

24